@import "./base.css";

.main {
  background: url("/public/images/bg.png");
  background-position: -20px -20px;
  /* background-size: cover; */
  height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.btn {
  background: rgba(255, 255, 255, 0.312);
  display: flex;
  justify-content: left;
  align-items: center;
  border: 2px solid white;
  padding: 5px 20px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:active {
  background: rgba(255, 255, 255, 0.128);
}

.btn img {
  width: 30px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}
